.comment-headers{
    text-align: center;
}


.comments-table {
    display: flex;
    justify-content: center;
    align-items: center;


    .comment-table {
        .comment-headers {
            text-decoration: underline;
        }

        .comment-body {

            .comment-line {
                border: 1px solid;
                padding: 20px !important;

                & > td{
                    padding: 2rem;
                }
            }
        }
    }
}
