header{

    padding: 15px 0;

    @include lg {
        padding: 30px 0;
    }

    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "logo btntoggle"
                                "menu menu";

    
        @include lg{
            grid-template-columns: 1fr 2fr;
            grid-template-areas: "logo menu";
            
        }
    }
     ///////////////////// 
     
     .logotype{
        grid-area: logo;
       
     }
     
     .Menu{
        grid-area: menu;
        font-family: $font-poppins;
       
        @include lg{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }



        .MenuLinks{

            padding-top: 20px ;

            @include lg{

                padding-top: 0px ;
            }
            & > .links{

                color: $color-dark-2;
                display: block;
                margin: 10px 20px;
                padding: 10px;
             

                @include lg{
                   display: inline-block;
                    margin: 0 20px;
                    border: none;

                }

                &:hover{
                    color: $color-theme-1;
                }
                
            }
        }

        .MenuIcons{

            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
           
            & > .links{
                margin-left: 15px;
                color: $color-dark-4;

                &:hover{
                    color: $color-dark-2;
                }
            }

            @include lg{
                position: static;
                padding: 10px;
            }
          
        }

     }

    .toggle{
        display: flex;
        justify-content: end;
        
        .btn-toggle{
            grid-area: btontoggle;
            transform: scale(1.5);
          
    
            @include lg {
                display: none;
            }
    
            
         }
    }
        
    
}