@model ContactViewModel



<section class="banner">
    <img src="\images\placeholders\1920\pexels-gdtography-950241 (1).jpg" alt="banner">
    <div class="container">

        <h1>Contact</h1>
        <p>HOME. PRODUCT DETAILS<p>
    </div>
</section>
<!-- Banner END-->
<!--Contact form-->
<section class="contactform-section">
    <div class="container">

        @Html.ValidationSummary(false, "", new { @class = "error" })
        <div asp-validation-summary="ModelOnly" class="error"></div>
        <form class="contactform" method="post" novalidate  >
            <div class="form">
                <div class="left">
                    <label asp-for="Name">Your Name</label>
                    <input asp-for="Name" id="ContactNameId" />
                   @* <span  asp-validation-for="Name"></span>*@
                    <span class="error-message"></span>

                    <label asp-for="PhoneNumber">Phone Number</label>
                    <input asp-for="PhoneNumber" id="ContactPhoneId" />
                @*    <span asp-validation-for="PhoneNumber"></span>*@
                    <span class="error-message"></span>
                </div>
                <div class="right">
                    <label asp-for="Email">Your Email</label>
                    <input asp-for="Email" id="ContactEmailId" />
                    @*<span asp-validation-for="Email"></span>*@
                    <span class="error-message"></span>

                    <label asp-for="Company">Company</label>
                    <input asp-for="Company" id="ContactCompanyId" />
                    @*<span asp-validation-for="Company"></span>*@
                    <span class="error-message"></span>
                </div>
            </div>
            <div class="comments">
                <label asp-for="Comment">Something Write</label>
                <textarea id="ContactCommentId" asp-for="Comment"></textarea>
              @*  <span asp-validation-for="Comment"></span>*@
                <span class="error-message"></span>


                <div class="radio">
                    <input asp-for="SaveDetails" class="form-check-input" type="checkbox" id="save-info">
                    <label asp-for="SaveDetails" class="form-check-label" >Save my name, email, and website in this browser for the next time I comment.</label>
                </div>
                <button type="submit" id="submit-button" >Submit</button>
            </div>
        </form>
    </div>
</section>



<!-- Contact form-->
<!-- Map section-->
<div class="map-section">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32526.46412997869!2d16.471443398770973!3d59.36794096810166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465e93b30aa1e85f%3A0x400fef341e48dd0!2sEskilstuna!5e0!3m2!1sen!2sse!4v1679571470931!5m2!1sen!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- Map section-->