@{
    ViewData["Title"] = "Denied access";
}

<div class="access-denied d-flex justify-content-center align-items-center">
    <div class="container">
        <img src="/images/placeholders/accessDenied.PNG" />
    </div>
</div>iv>