@using AssignmentMVC.ViewModels.UserRolesViewModel;
@{
    ViewData["Title"] = "Admin page";
}

@model List<UserWithRolesViewModel>

<h1 class="d-flex justify-content-center">List of Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.User.FirstName</td>
                <td>@user.User.Email</td>
                <td>@string.Join(", ", user.Roles)</td>
            </tr>
        }
    </tbody>
</table>
