@using AssignmentMVC.Services.ProductServices;



@inject ProductService ProductService

@{
    var productss = ProductService.GetEightAsync().GetAwaiter().GetResult();
}




    <!--BestCollection component START-->
    <section class="best-collection">
        <div class="container">
            <div class="bc-top">
            <h2 class="bc-title">Best collection</h2>

            <ul>
                  <a class="bc-anks" href="#">All</a>
                <a class="bc-anks" href="#">Bags</a>
                <a class="bc-anks" href="#">Dress</a>
                <a class="bc-anks" href="#">Decoration</a>
                <a class="bc-anks" href="#">Essentials</a>
                <a class="bc-anks" href="#">Interior</a>
                <a class="bc-anks" href="#">Laptop</a>
                <a class="bc-anks" href="#">Mobile</a>
                <a class="bc-anks" href="#">Beuty</a
        </ul>

            </div>


        @if (productss != null)
        {
            <div class="bc-grid">
                @foreach (var item in productss)
                {
                    <partial name="/Views/Partials/Reusable/GridCollectionItem.cshtml" model="item" />
                }
            </div>
        }

        </div>
    </section>
    <!-- BestCollection component END -->
}
