


@inject ProductService ProductService

@{
    var products = ProductService.GetEightAsync().GetAwaiter().GetResult();
}




    <!--BestCollection component START-->
    <section class="best-collection">
        <div class="container">
            <div class="bc-top">
            <h2 class="bc-title">Best collection</h2>

            <ul class="bc-link-collection">
                <li <a class="bc-links" asp-page="/LinkTo">All</a></li>
                <li <a class="bc-links" asp-page="/LinkTo">Bags</a></li>
                <li <a class="bc-links" asp-page="/LinkTo">Dress</a></li>
                <li <a class="bc-links" asp-page="/LinkTo">Decoration</a></li>
                <li <a class="bc-links" asp-page="/LinkTo">Essentials</a></li>
                <li <a class="bc-links" asp-page="/LinkTo">Interior</a></li>
                <li <a class="bc-links" asp-page="/LinkTo">Laptop</a></li>
                <li <a class="bc-links" asp-page="/LinkTo">Mobile</a></li>
                <li <a class="bc-links" asp-page="/LinkTo">Beauty</a></li>
            </ul>

            </div>


        @if (products != null)
        {
            <div class="bc-grid">
                @foreach (var product in products.Where(p => p.IsPopular).Take(8))
                {



                    <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="collection-item">
                        <img src="~/images/FromForm/@product.ImageUrl" alt="@product.Title" />
                        <div class="body">
                            <div class="info">
                                <div class="title">@product.Title</div>
                                <div class="price">$ @product.Price</div>

                            </div>
                            <i class="fa-sharp fa-regular fa-cart-plus fa-shake"></i>
                        </div>

                    </a>

                }
            </div>


        }

        </div>
    </section>
    <!-- BestCollection component END -->
}
