<!--Newsletter start-->
<section class="newsletter">
    <div class="container">
        <div class="input-form-newsletter">
            <input class="input-newsletter" type="email" id="email"
                   size="30" placeholder="Enter your email" required>
            <button class="submit-newsletter" type="submit">Subscribe for newsletter</button>
        </div>
    </div>
</section>
<!--Newsletter END-->