@using AssignmentMVC.Services.ProductServices;



@inject ProductService ProductService

@{
    var productss = ProductService.GetFeaturedProductsAsync().GetAwaiter().GetResult();
}
   <!-- Bottom portion, three cards START-->


<section class="top-selling">
    <div class="container">
        <div class="bc-grid">

            @foreach (var item in productss)
            {
                <partial name="/Views/Partials/Reusable/GridCollectionItem.cshtml" model="item" />
            }
        </div>

    </div>
    </div>
</section>
<!-- Bottom portion, three cards end-->