@using AssignmentMVC.Services.ProductServices;



@inject ProductService ProductService

@{
    var productss = ProductService.GetTwoAsync().GetAwaiter().GetResult();
}


<!--Up-To-Sale component START-->
<section class="up-to-sale">
    <div class="container">
        <div class="collection-grid">

            <div class="bc-grid">
                @foreach (var item in productss)
                {
                    <partial name="/Views/Partials/Reusable/GridCollectionItem.cshtml" model="item" />
                }
            </div>

            <div class="collection-item collection-content">
                <div class="container">
                    <div class="title-red">UP TO SELL</div>
                    <div class="title">50% OFF</div>
                    <div class="ingress">Get the Best Price</div>
                    <div class="text">Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren no sea taki</div>
                    <a href="#" class="link">Discover More</a>
                </div>
            </div>

            <div class="bc-grid">
                @foreach (var item in productss)
                {
                    <partial name="/Views/Partials/Reusable/GridCollectionItem.cshtml" model="item" />
                }
            </div>


        </div>
    </div>
</section>
