
@model GridCollectionItemViewModel

<a asp-controller="/products" asp-action="details" asp-route-id="@Model.Id" class="collection-item">
    <img src="@Model.ImageUrl" alt="">
    <div class="body">
        <div class="info">
            <div class="title">@Model.Title</div>
            <div class="price">$ @Model.Price</div>
            
        </div>
        <i class="fa-sharp fa-regular fa-cart-plus fa-shake"></i>
    </div>
</a>


