 <!-- Banner START-->
<section class="banner">
    <img src="\images\placeholders\1920\pexels-gdtography-950241 (1).jpg" alt="banner">
    <div class="container">

        <h1>SHOP</h1>
        <p>HOME. PRODUCT DETAILS<p>
    </div>
</section>
<!-- Banner END-->
