<section class="product-detals-display">

    <div class="container">
        <h3>Related products</h3>
        <div class="bc-grid">
            <!-- collection-item - start-->
            <a href="#" class="collection-item">
                <img src="/images/placeholders/270/applew (2).jpg" alt="">
                <div class="body">
                    <div class="info">
                        <div class="title">Apple watch collection</div>
                        <div class="price">$30.00</div>
                    </div>
                    <i class="tocart fa-regular fa-cart-plus"></i>
                </div>
            </a>
            <!-- collection-item - END-->
            <!-- collection-item - start-->
            <a href="#" class="collection-item">
                <img src="/images/placeholders/270/lamp.jpg" alt="">
                <div class="body">
                    <div class="info">
                        <div class="title">Apple watch collection</div>
                        <div class="price">$30.00</div>
                    </div>
                    <i class="tocart fa-regular fa-cart-plus"></i>
                </div>
            </a>
            <!-- collection-item - END-->
            <!-- collection-item - start-->
            <a href="#" class="collection-item">
                <img src="/images/placeholders/270/lenovo.jpg" alt="">
                <div class="body">
                    <div class="info">
                        <div class="title">Apple watch collection</div>
                        <div class="price">$30.00</div>
                    </div>
                    <i class="tocart fa-regular fa-cart-plus"></i>
                </div>
            </a>
            <!-- collection-item - END-->
            <!-- collection-item - start-->
            <a href="#" class="collection-item">
                <img src="images/placeholders/270/lamp.jpg" alt="">
                <div class="body">
                    <div class="info">
                        <div class="title">Apple watch collection</div>
                        <div class="price">$30.00</div>
                    </div>
                    <i class="tocart fa-regular fa-cart-plus"></i>
                </div>
            </a>
            <!-- collection-item - END-->

        </div>
        <div class="product-images">
            <img src="/images/placeholders/200x122.svg" alt="">
            <img src="/images/placeholders/200x122.svg" alt="">
            <img src="/images/placeholders/200x122.svg" alt="">
            <img src="/images/placeholders/200x122.svg" alt="">
            <img src="/images/placeholders/200x122.svg" alt="">
        </div>
    </div>


</section>