@using AssignmentMVC.Services.ProductServices

@inject ProductService ProductService

@{
    var productId = int.Parse(ViewData["Id"].ToString());
    var product = await ProductService.GetByIdAsync(productId);
}

<div class="DisplayProductDetails">
    <div class="container">
        <h1>@product.Title</h1>
        <img src="~/images/FromForm/@product.ImageUrl" alt="@product.Title" />
        @if (product.IsNew)
        {
            <p>New</p>
        }
        else if (product.IsPopular)
        {
            <p>Popular</p>
        }
        else if (product.IsFeatured)
        {
            <p>Featured</p>
        }

        <p>Price: @product.Price</p>

        
    </div>
</div>