@using AssignmentMVC.Services.ProductServices

@inject ProductService ProductService

@{
    var productId = int.Parse(ViewData["Id"].ToString());
    var product = await ProductService.GetByIdAsync(productId);
}

<div class="DisplayProductDetails">
    <div class="container">
        <h1>@product.Title</h1>
        <img src="@Url.Content(@product.ImageUrl)" alt="">
        <p>Price: @product.Price</p>
    </div>
</div>