<header>
    <div class="container">
        <img class="logotype" src="images/Logo.svg" alt="logotype">

        <div id="menu" class="Menu">
            <nav class="MenuLinks">
                <a class="links" asp-controller="Home" asp-action="HomeIndex">HOME</a>
                <a class="links" asp-controller="Product" asp-action="ProductPageIndex">PRODUCTS</a>
                <a class="links" asp-controller="Contact" asp-action="ContactsIndex">CONTACT</a>              
              

            </nav>
            <nav class="MenuIcons">
                <a class="links" asp-controller="Products" asp-action="Search"><i class="fa-regular fa-search"></i></a>

                @if (_signInmanager.IsSignedIn(User))
                {
                    <a class="links" asp-controller="Login" asp-action="Account">@User.Identity?.Name</a>
                    <a class="links" asp-controller="Logout" asp-action="LogOutIndex">Logout</a>

                    var user = await _userManager.GetUserAsync(User);
                    if (await _userManager.IsInRoleAsync(user, "System Administrator"))
                    {
                        <a class="links" asp-controller="Product" asp-action="ProductIndex">All Products</a>
                        <a class="links" asp-controller="Product" asp-action="RegisterProduct">Create Product</a>
                       
                        <a class="links" asp-controller="Admin" asp-action="AdminIndex">All Users</a>
                    }
                }
                else
                {
                    <a class="links" asp-controller="Login" asp-action="LoginIndex">Login</a>
                }

                <a class="links" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
               @* <span class="badge badge-warning">0</span>*@
            </nav>
        </div>
        <div class="toggle">
            <button class="btn-toggle btn-white" data-option="toggle" data-target="#menu"><i class="fa-regular fa-bars"></i></button>
        </div>
    </div>
</header>





