<header>
    <div class="container">
        <img class="logotype" src="images/Logo.svg" alt="logotype">

        <div id="menu" class="Menu">
            <nav class="MenuLinks">
                <a class="links" asp-controller="Home" asp-action="HomeIndex">HOME</a>
                <a class="links" asp-controller="Product" asp-action="RegisterProduct">PRODUCTS</a>
                <a class="links" asp-controller="Product" asp-action="ProductIndex">PRODUCTSINDEX</a>
                <a class="links" asp-controller="Product" asp-action="ProductPageIndex">PRODUCTPage</a>
                <a class="links" asp-controller="Contacts" asp-action="Index">CONTACT</a>
            </nav>
            <nav class="MenuIcons">
                <a class="links" asp-controller="Products" asp-action="Search"> <i class="fa-regular fa-search"> </i></a>
                <a class="links" asp-controller="Login" asp-action="LoginIndex">Login</a>
                <a class="links" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>
        </div>
        <div class="toggle">
            <button class="btn-toggle btn-white" data-option="toggle" data-target="#menu"><i class="fa-regular fa-bars"></i></button>
        </div>
    </div>
</header>